.advantages {
    padding-top: 60px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 470px);
        grid-template-rows: minmax(30px, auto);
        grid-auto-rows: minmax(30px, auto);
        row-gap: 30px;
        position: relative;
        justify-content: space-between;
        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: calc(100% - 60px);
            background-color: $main-color;
            top: 60px;
            right: 50%;
        }
    }
    &__item {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 60px 390px;
        grid-template-rows: repeat(2, auto);
        gap: 10px 20px;
    }
    &__icon {
        width: 60px;
        height: 60px;
        grid-row: 1 / 3;
        align-self: center;
        img {
            width: 100%;
        }
    }
    &__header {
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 160%; /* 25.6px */
        align-self: end;
        width: 100%;
    }
    &__subheader {
        color: #000;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: 0.024px;
    }
}