.services {
	padding: 60px 0;
	&__slider {
		margin-top: 35px;
		width: 100%;
		height: 602px;
	}
	&__slide {
		display: flex;
		align-items: center;
	}
	&__card {
		padding: 30px;
		width: 350px;
		height: 500px;
		background: #FFFEFE;
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20);
		display: flex;
		flex-direction: column;
		justify-content: center;
		&-icon {
			svg {
				display: block;
				margin: 0 auto;
				path {
					fill: $main-color;
				}
			}
		}
		&-header {
			text-align: center;
			margin-top: 20px;
			color: #000;
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 600;
			line-height: 160%; /* 25.6px */
		}
		&-descr {
			margin-top: 10px;
			color: #000;
			text-align: center;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 400;
			line-height: 160%; /* 25.6px */
			letter-spacing: 0.024px;
		}
	}
}
.swiper {
	&-slide {
		&-active {
			.services__card {
				height: 550px;
				border-radius: 5px;
				background-color: $main-color;
				box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20);
				&-icon {
						svg {
							path {
								fill: #FFF;
							}
						}
				}
				&-header, &-descr {
					color: #FFF;
				}
			}
			.button {
				&_consultation {
					&-white {
						display: block;
					}
				}
			}
		}
	}
}


